root = true

[*]
  charset = utf-8
  end_of_line = lf
  indent_style = space
  insert_final_newline = false
  trim_trailing_whitespace = true

[*.{yml,yaml}]
  indent_size = 2
  tab_width = 2

[*.{js,jsx,json,jsonc,ts,tsx}]
  indent_size = 2
  tab_width = 2

[*.{bash,sh,zsh,fish,dash}]
  indent_size = 4
  tab_width = 4

[*.{css,less,sass,scss}]
  indent_size = 2
  tab_width = 2

[*.{cs,csx}]
  indent_size = 4
  tab_width = 4

[*.{xml,xslt,xmlc,csproj,fsproj,vbproj,npmproj,yarnproj}]
  indent_size = 2
  tab_width = 2